/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */

:root{
  --darkBrown:#332014; 
  --lightBrown:#6b2c0c;
  --red:#9e2b2b;
  --cream:#edc380;
  --lightCream:#ffe0b5;
  --blue:#cfe6db;
  --navy:#0d253d;
}

/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

body{
  margin: 0;
}


a{
  text-decoration: none;
}

h3{
  margin: 0 0 10% 0 ;
}

h4{
  margin: 0 0 3% 0 ;
}

p{
  margin: 0 0 10% 0;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--cream);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10vh;
}

.navbar-brand{
  font-size: 2.5rem;
  color: black;
  margin-left:2rem;
}

.navbar-brand:hover{
  color: blue;
}



/* ----------------- SPELLS ------------------ */

.spell-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spell-card{
  margin: 1%;
  padding: 2% 1% 0 1% ;
  text-align: center;
  min-width: 20%;
  background-color: green;
}



/* ----------------- FOOTER ------------------ */
.footer {
  align-items: center;
  background-color: red;
  bottom: 0;
  color:black;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.footer a {
  color: black;
  margin: 0;
  text-decoration: none;
}

.footer a:hover{
  color: blue;
}
