/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */

:root{
  --darkBlue:#0B2838;
  --blue:#083248;
  --red:#6C0E23;
  --gold:#77867F;
  --cream:#FBF5F3;

  --titleFont: 'Fondamento', cursive;
  --bodyFont: 'Noto Nastaliq Urdu', serif;
}

/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

body{
  background-color: var(--cream);
  font-family: var(--bodyFont);
  height:100%;
  margin: 0;
  word-spacing: 5px;
}

a{
  text-decoration: none;
}

h2{
  color: var(--red);
  font-size: 2.0rem;
  margin: 0 0 0 0 ;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  line-height: 3.0rem;
  margin: 0 0 1% 0 ;
}

h4{
  font-size: 1.0rem;
  line-height: 2.0rem;
  margin: 5% 0 0 0 ; 
}

p{
  color:var(--blue);
  font-size: 1.0em;
  line-height: 1.2rem;
  margin: 0;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--darkBlue);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10vh;
}

.navbar-brand{
  flex-grow: 2;
  font-family: var(--titleFont);
  font-size: 2.5rem;
  margin-left:2rem;
}


.navbar-container{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.navbar-container p{
  color: var(--gold);
}

.navbar-container p:hover{
  color: var(--cream);
  cursor: pointer;
}


.navbar-contents{
  margin-right: 10rem;
}



/* ----------------- MENU ------------------ */

.section-menu{
  min-height: 85vh;
}

.menu-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container p:hover{
  color:var(--cream);
}

.menu-link{
  margin: 4%;
  text-align: center;
}




/* ----------------- ABOUT ------------------ */

.section-about{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 85vh;
  justify-content: space-evenly;
}




/* ----------------- SPELLS ------------------ */

#search-box-div{
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 2%;
}

#search-box-input{
  padding: 1%;
  width: 30%;
}


.ReactModal__Overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content{
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.button-close-modal{
  background: transparent;
  border: none;
  float: right;
}

.button-close-modal:hover{
  color: var(--red);
  cursor: pointer;
}


.spell-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 65vh ;
}

.spell-card{
  background-color: #DBA858;
  border: 2px solid var(--gold);
  margin: 1%;
  padding: 2% 1% 0 1% ;
  text-align: center;
  min-width: 20%;
}

.spell-card-modal{
  text-align: center;
}


/* ----------------- FOOTER ------------------ */
.footer {
  align-items: center;
  background-color: var(--darkBlue);
  bottom: 0;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.footer a {
  color: var(--gold);
  margin: 0;
  text-decoration: none;
}

.footer a:hover{
  color: var(--cream);
}
