/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */

:root{
  --black:#031B28;
  --darkBlue:#0B2838;
  --blue:#083248;
  --red:#8C0E0f;
  --gold:#E89C31;
  --cream:#DBA858;

}

/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

body{
  background-color: var(--blue);
  margin: 0;
}


a{
  text-decoration: none;
}

h2{
  color: var(--gold);
  font-size: 2.0rem;
  margin: 0 0 2% 0 ;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  margin: 0 0 5% 0 ;
}

h4{
  font-size: 1.0rem;
  margin: 0 0 1% 0 ; 
}

p{
  color:var(--cream);
  font-size: 0.9em;
  margin: 0 0 5% 0;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--black);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10vh;
}

.navbar-brand{
  font-size: 2.5rem;
  color: var(--red);
  margin-left:2rem;
}

.navbar-brand:hover{
  color: var(--blue);
}

.navbar-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* ----------------- MENU ------------------ */

.section-menu{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.section-menu p {
  text-align: center;
}


/* ----------------- SPELLS ------------------ */

.ReactModal__Overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content{
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.spell-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.spell-card{
  background-color: #DBA858;
  border: 2px solid var(--gold);
  margin: 1%;
  padding: 2% 1% 0 1% ;
  text-align: center;
  min-width: 20%;
}

.spell-card-modal{
  padding: 2% 1% 0 1% ;
  text-align: center;
}


/* ----------------- FOOTER ------------------ */
.footer {
  align-items: center;
  background-color: var(--black);
  bottom: 0;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.footer a {
  color: var(--red);
  margin: 0;
  text-decoration: none;
}

.footer a:hover{
  color: var(--blue);
}
